<div>
    <h1>Salud y Binestar</h1>
    <p>
        Hemos logrado grandes avances en la lucha contra varias de las principales causas de muerte y enfermedad. La esperanza de 
        vida ha aumentado drásticamente, las tasas de mortalidad infantil y materna han disminuido, hemos cambiado el curso del VIH 
        y la mortalidad debida a la malaria se ha reducido a la mitad.
    </p>
    <p>
        La buena salud es esencial para el desarrollo sostenible, y la Agenda 2030 refleja la complejidad y la interconexión de ambos.
         Toma en cuenta la ampliación de las desigualdades económicas y sociales, la rápida urbanización, las amenazas para el clima y
          el medio ambiente, la lucha continua contra el VIH y otras enfermedades infecciosas, y los nuevos problemas de salud, como 
          las enfermedades no transmisibles. La cobertura universal de salud será integral para lograr el ODS 3, terminar con la pobreza
           y reducir las desigualdades. Las prioridades de salud global emergentes que no se incluyen explícitamente en los ODS, incluida 
           la resistencia a los antimicrobianos, también demandan acción.
    </p>
    <p>
        Sin embargo, el mundo no está bien encaminado para alcanzar los ODS relacionados con la salud. El progreso ha sido desigual,
         tanto entre países como dentro de ellos. Sigue habiendo una discrepancia de 31 años entre los países con la esperanza de vida
          más corta y la más larga. Si bien algunos han logrado avances impresionantes, los promedios nacionales ocultan el hecho de 
          que algunas poblaciones, grupos y comunidades se están quedando atrás. Los enfoques multisectoriales, basados en los derechos
           y con perspectiva de género, son esenciales para abordar las desigualdades y asegurar una buena salud para todas las personas.
    </p>
    <h2>En cifras</h2>
    <h3>400 millones</h3>
    <p>Al menos 400 millones de personas no tienen acceso a servicios de salud básicos, y el 40% carece de protección social.</p>
    <h3>1,6 mil millones</h3>
    <p>Más de 1,6 mil millones de personas viven en ambientes frágiles donde las crisis prolongadas, combinadas con servicios sanitarios precarios, presentan un desafío significativo para la salud global.</p>
    <h3>15 millones</h3>
    <p>Hacia fines del 2017, 21,7 millones de personas que viven con VIH recibieron terapia antirretroviral. Sin embargo, más de 15 millones de personas todavía esperan tratamiento.</p>
    <h3>2 segundos</h3>
    <p>Cada 2 segundos, alguien de entre 30 y 70 años de edad muere prematuramente a causa de enfermedades no transmisibles: enfermedad cardiovascular o respiratoria crónica, diabetes o cáncer.</p>
    <h3>7millones</h3>
    <p>7 millones de personas mueren cada año a causa de la exposición a finas partículas en el aire contaminado.</p>
    <h3>1 de cada 3</h3>
    <p>Más de una de cada tres mujeres ha sufrido violencia física o sexual en algún momento de su vida, resultando en consecuencias tanto en el corto como el largo plazo parar su salud física, mental, sexual y reproductiva.</p>
</div>
