<div>
    <h1>Cuida tu salud y Bienestar</h1>
    <h2>Autocuidado</h2>
    <p>
        El autocuidado de la salud es una serie de acciones que permiten a los individuos o a las comunidades, hacerse cargo de su 
        salud de manera informada y corresponsable. Dicho concepto acompaña la cultura y desarrollo de los pueblos y ha sido reconocido
        por la Organización Mundial de la Salud, quién, en su Declaración de “Alma Ata”, expresó que:
    </p>
    <p>
        “La gente tiene el derecho y la responsabilidad de participar individual o colectivamente
        en la planeación e implementación del cuidado de su salud”
    </p>
    <p>
        Se ha demostrado como una práctica invaluable, una forma efectiva y segura de prevención en salud, constituyéndose como 
        “la primera línea de defensa contra la enfermedad”.
    </p>
    <h2>Recomendaciones</h2>
    <p>•	Adoptar todas aquellas medidas que favorecen el mantenimiento de la salud y la prevención de la enfermedad, principalmente una higiene y dieta adecuada y la práctica del ejercicio.</p>
    <p>•	Evitar factores de riesgo tales como el tabaquismo, el alcoholismo, el sexo inseguro y el uso de medicamentos que requieren de la intervención y receta de un médico.</p>
    <p>•	Reconocer y manejar los primeros síntomas de un problema de salud, así como apreciar adecuadamente su evolución.</p>
    <p>•	Tratar los síntomas con los medicamentos autorizados por la Secretaría de Salud para su venta sin receta.</p>
    <p>•	Solicitar oportunamente la consulta de un médico si los síntomas persisten o se agravan, así como seguir
        sus instrucciones.
        </p>
    <p>El autocuidado es un proceso continuo que arranca desde las opciones saludables que adopta un individuo, pasando por el 
        reconocimiento y manejo personal de los problemas de salud que le aquejan, hasta el hecho de recurrir a un médico.</p>
    <p>
        Los “estilos saludables de vida” definidos por la Organización Mundial de la Salud (OMS) constituyen un factor adicional de 
        autoconocimiento, pues se ha demostrado que el esquema curativo es insostenible, en virtud de un entorno en el cual la 
        población tiende progresivamente a vivir más años, producto de la expansión de los servicios médicos y del descubrimiento de 
        nuevos y mejores medicamentos. Otros aspectos como la reducción de las tasas de natalidad, distintas condiciones de vida y la 
        aparición de nuevas enfermedades dificultan responder cada vez menos a las expectativas y necesidades de una sociedad que 
        paulatinamente busca estar más informada y dispuesta a tomar una parte más activa en el cuidado de su salud.
    </p>
    <p>
        El autoconocimiento y la prevención informada en complemento al conocimiento médico permiten disminuir los riesgos y la presión 
        os costos de atención.
    </p>
</div>
