<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SALUD Y BIENESTAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../galeria">Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../formulario">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Artículos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="../articulo-uno">Salud y bienestar: por que es importante</a></li>
              <li><a class="dropdown-item" href="../articulo-dos">Educación para la salud y el bienestar</a></li>
              <li><a class="dropdown-item" href="../articulo-tres">Estado de bienestar y salud publica: El papel de la salud laboral</a></li>
              <li><a class="dropdown-item" href="../articulo-cuatro">Salud y el bienestar</a></li>
              <li><a class="dropdown-item" href="../articulo-cinco">Cuida tu salud y bienestar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>