<div>
    <h1>Educacion para la salud y el bienestar</h1>
    <p>
        A lo largo de su historia, la humanidad ha incorporado los términos educación y desarrollo en un estrecho vínculo de dependencia, y
         eso es porque así la historia lo ha confirmado, una y otra vez. “No hay educación sin desarrollo”, dicen la UNESCO, el Banco 
         Mundial, la OCDE y el BID, cuatro organismos internacionales directamente involucrados en el tema. Y el desarrollo nos habla de 
         progreso, salud y bienestar; y también lo dicen miles de pedagogos y docentes, que bastante saben de esto.
    </p>
    <p>
        “Una educación de calidad es el cimiento de la salud y el bienestar. Para llevar una vida productiva y saludable, cada individuo debe poseer los conocimientos necesarios para la prevención de enfermedades y patologías. Para estudiar como es debido, los niños y los adolescentes necesitan una alimentación adecuada y gozar de buena salud.”
        – UNESCO
    </p>
    <p>
        Son tres los grandes protagonistas del proceso de instrucción: los niños, la familia y la escuela. Y ese proceso implica dar (o sea, guiar) y
         también extraer la acumulación de experiencias propias de cada individuo, con un papel destacado de quien educa, para conducir la 
         apertura del educando e inculcar un significativo aprendizaje al niño. El camino de la educación es un permanente avance y 
         significa implícitamente progreso, y el papel del docente es determinante para un correcto manejo de los tiempos y de la atención 
         a la diversidad que se encuentra en su aula. A su vez, el logro de un aprendizaje significativo por parte del educando depende no 
         sólo de sus capacidades cognitivas, sino también de su salud.
    </p>
    <h2>Educación en transito</h2>
    <p>
        Ser docente implica una ardua preparación previa, además de permanente. Los nuevos paradigmas, producto de la vertiginosidad de
         nuestra civilización, significan desafíos continuos. En el camino de la vida, la educación no es una parada; es un continuo 
         movimiento. Los avances significativos, sobre todo en neurociencia, ayudan a ver situaciones cotidianas con nuevas perspectivas.
          Hoy en día, el docente tiene a su alcance herramientas que atienden una creciente demanda de ayuda, para trabajar los contenidos, 
          el aprendizaje y las relaciones con un enfoque integral. La inclusión, que necesariamente atiende a la vulnerabilidad de los niños, 
          necesita una preparación adecuada para situaciones demandantes; una serie de recursos plausibles de utilizar en la clase.
    </p>
    <h2>Ganar-Ganar</h2>
    <p>
        Una atención especial al lenguaje de las emociones y a la inteligencia emocional, es ganar en calidad educativa. Se trata de 
        incorporar una mirada distinta para abordar los diferentes contenidos curriculares, implícitos en los núcleos de aprendizaje
         prioritarios. Es lograr un abordaje significativo, tanto para el alumno como para el docente, que permita una mejor 
         comprensión de los conceptos, los procedimientos y las actitudes básicas para cada propuesta curricular, y que ayudan a la 
         resolución de posibles situaciones de la cotidianeidad.
    </p>
    <p>
        Una educación para la salud entiende que cuestiones básicas como la nutrición deben tener una mirada crítica, con respeto y 
        alerta a la vez. Se trata de apostar por el desarrollo humano a pesar de las diferencias. Ese desarrollo es el que permitirá a 
        nuestros niños avanzar en su propia construcción de proyecto de vida. La importancia del desarrollo tiene mucho que ver con el
         mundo fuera del aula; esto les dará esa capacidad humana de no ser sólo un instrumento para la producción, sino que les 
         permitirá valorar su desarrollo y el de su entorno, con un horizonte que vislumbre el bienestar.
    </p>
    <p>
        El economista Amartya Sen (India, 1933), ganador de un Premio Nobel de Economía, plantea que todos nacemos con dotaciones 
        heredadas y que tenemos la capacidad de aumentarlas en la relación al medio socio-cultural en el que nos desarrollamos. 
        Esta reflexión sólo es posible si la educación que recibimos nos apuntala en ese camino, una educación para la salud y el 
        bienestar.
    </p>

</div>
