<div>
    <h1>Estado de bienestar y salud publica: El papel de la salud laboral</h1>
    <h2>Resumen</h2>
    <p>
        En el contexto de la actual crisis del Estado de bienestar, la salud laboral puede contribuir significativamente a su 
        sostenibilidad, facilitando un trabajo decente y saludable a lo largo de la vida laboral de las personas que trabajan. 
        Para ello, la salud laboral debe afrontar el reto de la promoción de la salud, la prevención y la asistencia de lesiones, 
        enfermedades y, sobre todo, incapacidades, basándose en una mejor coordinación de los servicios de prevención, las mutuas 
        colaboradoras con la seguridad social y el sistema de salud, así como potenciando el liderazgo en prevención de las empresas y 
        la participación activa de las personas que trabajan.
    </p>
    <h2>Introducción</h2>
    <p>
        Aunque el Estado del bienestar, hasta ahora, ha podido celebrar su extraordinaria capacidad para transformarse y adaptarse, 
        desde que a partir de los años 1980 se anunciara su final, la actual crisis junto con la gran recesión ponen en duda de 
        nuevo su sostenibilidad. Los cambios políticos, económicos y tecnológicos están fragmentando la vida laboral de las personas y 
        reduciendo la renta del trabajo para la mayoría de ellas. Como resultado, el Estado reduce sus ingresos, que dependen en 
        gran medida del pleno empleo con salarios dignos y su poder de compra, que asimismo afecta a los beneficios de las empresas, 
        comprometiendo su capacidad para hacer frente adecuadamente a sus compromisos de bienestar de los ciudadanos. Ante esta 
        situación, el Estado puede optar por el endeudamiento para mantener el gasto social, si no incrementa los ingresos, o por 
        los recortes del gasto. En resumen, estamos ante una crisis del Estado del bienestar de carácter estructural, donde las 
        políticas de bienestar social son consideradas como un «lujo» difícil de sostener, y aparece el modelo liberal de Estado del 
        bienestar (los Estados Unidos o el Reino Unido, entre otros) como único modelo posible, incrementando el espacio de la 
        iniciativa privada en servicios y prestaciones básicas del Estado del bienestar, como por ejemplo sanidad o prestaciones 
        sociales.
    </p>
    <h2>Salud laboral</h2>
    <p>
        La salud laboral (u ocupacional en algunos países de América Latina), a través de la prevención de las lesiones y enfermedades, 
        y la promoción de la salud de las personas que trabajan, contribuye significativamente a la existencia de un mercado de trabajo
         decente y de calidad. En concreto, la salud laboral ayuda a prevenir las lesiones, las enfermedades y las incapacidades mediante
        la mejora de las condiciones de trabajo y empleo, así como a promocionar la salud de las personas trabajadoras. En este sentido,
        se puede afirmar que la misión de la salud laboral es ayudar a que las personas disfruten de una saludable y prolongada vida
        laboral.
    </p>
    <p>
        Las intervenciones de salud laboral se llevan a cabo por tres instituciones que, en el caso español de manera particular, y en 
        el europeo en general, son los servicios de prevención de las empresas, sean propios o externos (financiados por las empresas, 
        que son las que tienen en última instancia la responsabilidad y la capacidad de adoptar las medidas preventivas), las Mutuas 
        Colaboradoras con la Seguridad Social, auto aseguradoras o el Instituto Nacional de la Seguridad Social (financiados por las 
        cotizaciones a la Seguridad Social), y el Sistema Nacional de Salud (financiado por los impuestos que pagan todos los ciudadanos). 
        Un marco institucional que en España presenta algunas peculiaridades, como el papel preponderante que se ha dado a la 
        externalización de los servicios de prevención de las empresas, lo que ha dificultado la integración de la cultura preventiva en su
         interior, y el escaso papel preventivo de las mutuas.
    </p>
    <h2>Lesiones, enfermedades e incapacidades</h2>
    <p>
        Los resultados de la actividad conjunta de estas instituciones de salud laboral, con sus luces y sus sombras, han sido 
        globalmente positivos en España respecto a las lesiones por accidentes de trabajo. Desde el año 2000, tres años después de la 
        entrada en vigor efectiva de la transposición de la Directiva Marco de Seguridad y Salud en el Trabajo (1995), y su Reglamento 
        en 1997, la incidencia de lesiones ha venido descendiendo de manera continuada, tanto durante el periodo de crecimiento 
        económico como una vez iniciada la recesión en 2007, para las lesiones mortales y no mortales, en todas las ocupaciones y 
        actividades económicas, en todas las comunidades autónomas. Una clave de este éxito, como muestran otras experiencias 
        internacionales, es la existencia de mecanismos de vigilancia y control de las actividades preventivas en las empresas, 
        principalmente a través de la inspección de trabajo desde la Administración laboral.
    </p>
    <p>
        Por el contrario, los resultados respecto a las enfermedades profesionales son manifiestamente mejorables, pues continuamos sin
         conocer con fiabilidad la magnitud y las características del problema, dado el subregistro secular de las enfermedades 
         profesionales por parte de la Seguridad Social. Este es un problema global en Europa y el resto del mundo. Las estimaciones 
         basadas en la mejor información disponible estiman que, en España, solo son reconocidas una de cada cuatro enfermedades 
         profesionales o relacionadas con el trabajo; unos resultados que obligan a hacer un mayor esfuerzo para la detección y la 
         notificación de las enfermedades profesionales desde el sistema sanitario, principalmente desde los centros sanitarios 
         (primaria, sin olvidar los hospitales), al mismo tiempo que se ofrece ayuda a las personas afectadas o sus familiares para su 
         reconocimiento por la Seguridad Social.
    </p>
    <p>
        Sin embargo, el principal reto actual de la salud laboral, desde nuestro punto de vista, es la incapacidad laboral, sea 
        temporal o permanente, y tanto la de origen laboral (profesional) como no (común). Todas ellas afectan a la capacidad de las
        personas que trabajan, dificultando su continuidad en el mercado de trabajo, con la consiguiente pérdida de ingresos, así
        como de productividad que afecta al propio individuo, a la empresa y al conjunto del país. La prevención y la recuperación
        de una incapacidad laboral ha venido a ser una cuestión clave que afecta la sostenibilidad del Estado del bienestar.
        Los costes directos e indirectos de las incapacidades laborales son cuantiosos. Cada año se producen más de un millón
        de episodios de incapacidades temporales por contingencias comunes, solo en Cataluña, principalmente por enfermedades
        respiratorias, musculoesqueléticas y mentales, lo que corresponde a una incidencia de 33 episodios por cada 100 afiliados, 
        con una duración mediana de 8 días15. Respecto a la incapacidad permanente, para el conjunto del país, la incidencia anual 
        es de aproximadamente 50 casos nuevos por cada 100.000 afiliados. Esto significa que cada año salen del mercado de trabajo 
        unos 90.000 trabajadores/as antes de los 65 años, como consecuencia de un problema de salud que incapacita para trabajar de 
        manera permanente16. Esta situación puede aumentar en la medida en que se incrementa la edad de las personas que trabajan y 
        la aparición de problemas de salud crónicos, lo que puede agravar la crisis del Estado del bienestar.
    </p>
</div>
